.statistics-container {

  #collection-steps {
    margin-bottom: 0;
    #conclude_config {
      display: none;
    }

    ul {
      margin-bottom: 5px;

      li {
        padding: 5px 0 0 0;

        &#dashboard {

        }
        &#stats {
          border-top: 3px solid $default-golden;
          width: 9%;
          padding: 5px 0 0 0;
          a {
            h4 {
              font-weight: bolder
            }
          }
        }

      } // li
    } // ul

  } // dashboard & stats link

  #charts-display {
    background-color: $collections-bg-color;
    padding-top: 20px;
  }

  /* Left side */
  .statistics-config {
    background: white;
    border: none;
    font-size: 12px;
    //border-top: 1px solid $item-border;
    border-right: 3px solid $item-border;
    padding-top: 20px;

    .period-config {
      h6 {
        color: black;
      }
      .input-size {
        width: 80%;
      }
    } // .period-config
    label.title-pipe {
      @include accordion_label_style($padding: 4px 0 4px 0);
      padding-left: 5px;
      //font-weight: bolder;
      width: 90% !important;

      span {
        color: red !important;
      }
    }
  } // #statistics-config

  /* Right side */
  .chart-header {
    @include single_item_container_style();
    background-color: white;
    border: 3px solid $item-border;
    padding: 10px 15px;

    h3.topo {
      color: $brand-medium-blue;
      margin: 0;

      button { display: none }
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .user-config-control {
      .inputPeriod{
        font-size: 14x;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }

      label.label-from{
        font-weight: normal !important;
      }
      
      label.label-until{
        font-weight: normal !important;
      }

      span.config-title {
        color: $brand-medium-blue;
        font-weight: bolder;
      }

      .current-chart span {
        font-size: 11px;
        font-weight: bolder;
      }

      div {
        text-align: right;
        &:first-child {
          text-align: left;
        }
        &.col-md-1 {
          margin-left: 10px;
        }
      }
    }

    ul.downloadStat {
      min-width: 46% !important;
      /* li {
        text-align: right;
      } */
    }

  } // .chart-header

  #charts-container {
    @include single_item_container_style();
    margin-top: 20px;
    padding: 20px;
  }
} // statistics-container

#charts-resume {
  @include single_item_container_style();
  padding: 20px;
  margin-top: 20px;

  table {
    // text-align: center;
    width: 100%;
    
    tr {
      border-top: 1px solid $brand-medium-blue;
      th, td {
        padding: 5px 10px;
      }
      &:first-child {
        font-weight: bolder;
        color: $brand-medium-blue;
      }
      &:nth-child(2) {
        td {
          padding: 5px 10px;
          &:first-child {
            font-weight: bolder;
          }
        } // td
      }
    }
  } // table
} // #charts-resume

.right-caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: top;
  width: 0;
}

#report-type-stat {
  padding: 0;
    
    span.hllog {
        a {
            // color: $item-light-gray !important;
        }
        p {
            // color: $brand-light-blue;
        }
    } // highlight chart
    
  .dynatree-icon {
    display: none;
  }
  .dynatree-container {
    border: none;
    font-size: 12px;
    padding: 5px 0 0 20px;

    a {
      outline: 0 !important;
    }

    .dynatree-title{
      font-weight: normal;
      font-family: Oscine;
    }

    span.dynatree-active a {
      border: none !important;
    }

    p {
      font-size: 10px;
    }
    ul {
      padding-left: 0;
      li {
        a.dynatree-title {
          border: none !important;
        }
      }
    }
  }
} // report-type-stat -> dynatree

// Ul that changes current chart
ul.statChartType {
  min-width: 20% !important;
  // right: 72px !important;
  li {
    a {
      padding: 3px 12px !important;
    }
  }
} // .statChartType

#stats-cover {
  height: 130px;
  h1,h3 {
    color: white;
    text-shadow: -2px 1px 4px #27272d;
    text-align: center;
  }

  h1 {
    font-size: 400%;
    margin-bottom: 0;
  }
  h3 {
    font-size: 150%;
    margin-top: 0;
  }
} // #stats-cover