.tainacan-breadcrumbs {
    background: $collections-bg-color;
    padding-top: 20px;
}

button.collection-trash, button#hideTrash {
    color: $brand-medium-blue !important;
}

button.collection-trash {
  margin-left: 10px;
}

.tainacan-steps {
    margin: 10px -30px 20px -30px;
    background: white;
    padding: 20px 40px 20px 40px;
    border-bottom: 3px solid #e3e3e3;
}

.selected-item {
  border: 2px solid $brand-light-blue !important;
}

.selectable-items {
  padding-top: 3px;
  padding-left: 0;
  padding-right: 0;
  width: 18% !important;

  .selectable-actions, .selectors {
    display: inline-block;
  }
  .selectable-actions {
    a {
      cursor: pointer !important;
      color: black;
      &:hover {
        cursor: pointer !important;
      }
    }
    // width: 50%;
    span {
      margin-left: 4px;
    }
  }
  .selectors {
    width: 35%;
    // border: 1px solid;
    a {
      padding: 2px 2px 3px 5px;
      margin-left: 5px;

      &:last-child {
        margin-left: 0 !important;
        padding-left: 2px !important;
      }

      img {
        margin-top: -3px !important;
        width: 23%;
      }
      &:hover {
        cursor: pointer;
      }
      
      &.highlight {
        @include mode_view_highlight( 2px 2px 3px 5px);
      }

    } // a
  }
} // .selectable-items

#container_three_columns {
    background: $collections-bg-color;

    #div_central {
      position: relative;
      /*
      overflow-y:auto;
      overflow-x:hidden;
      overflow: auto;
      max-height:100px;
      */
      padding-left: 2%;
      padding-right: 0;

      #menu_object {
        padding-top: 1.5%;
        background: white;
        border: 3px solid $item-border;

        .header-colecao {
          margin-top: 10px;
          padding-bottom: 10px;
          padding-top: 10px;

          button.export-btn {
            span {
              font-size: 15px;
            }
          }

          label {
            color: $brand-medium-blue;
            font-weight: normal;
            padding-top: 5px;

            &.order-by-label {
               width: 140px;
            }
          } // label

          #collection_single_ordenation {
            width: 90%;
            margin-right: 15px;
          }

          .tainacan-add-item {
            width: 11%;
            margin-right: 15px;

            .btn-group { display: block; }
            .tainacan-add-wrapper {
              border-radius: 4px;
              background: rgb(13, 109, 144);
              text-align: center;
            }
            button {
              color: white;
            }

            &:hover > ul {
              display: block;
            }

            ul {
              margin-top: 0 !important;
              li {
                a {
                  cursor: pointer;
                  &:hover {
                    // background: beige;
                  }
                }
              }
            }
          } // tainacan-add-item

          optgroup, option, select, button {
            color: black;
          }

          .trash-div {
            width: 14%;

            button {
              font-size: 12px !important;
            }
          }

          button#desc {
            margin-left: 5px;
          }

        } // .header-colecao

        .search-top-container {
          .titulo-colecao {
            text-shadow: none;
            h3 {
              margin: 0;
            }

            hr {
              margin: 10px 0 20px 0;
            }
          } // .titulo-colecao

          .navbar-right {
            position: absolute;
            top: -35px;
            right: 15px;

            .collec_menu_opnr ul.dropdown-menu {
              margin-top: -15px !important;
            }
            
            .fab {
              /* width: 25px;
              height: 25px;
              background: $brand-medium-blue;
              */
              background: white;
            }
          }

          .box-left {
            padding-right: 0;
            width: 82.5%;
          }
          .box-right {
            padding-right: 6px;
            padding-left: 5px;

            button {
              color: $brand-medium-blue;
              width: 100%;
              overflow: hidden;
            }
          }
        } // .search-top-container

      } // #menu_object

      .center_pagination {
        width: 100%;
        background: white;
        border: 3px solid $item-border;
        padding: 5px 0 5px 0;
        color: $item-light-gray;

        .pagination-count {
          text-align: center;
          border: 1px solid $item-border;
          height: 30px;
          border-radius: 2px;
          padding-bottom: 4px;
          width: 45%;
        }

        &.top_pag {
          margin: 15px auto 0 auto;
        }

        &.bottom_pag {
          margin: 0 auto 10px auto;
        }

        .per_page {
          text-align: right;
        }

        .pagination_items {
          padding-right: 0;
          a.btn {
            span {
              font-size: 10px;
            }
          }
        }

        .center {
          padding-top: 5px;
          text-align: center;
        }

        .pull-right {
          margin-top: -20px;
        }

      } //#center_pagination
    } // #div_central
} // .container_three_columns
 .col-md-6:nth-child(even) {

   .item-colecao {
     margin-right: 0;
   }
 }

.single_stars, .rankings-container {
  .star-on-png, .star-half-png, .star-off-png {
    font-size: 1.5em !important;
    color: darkgoldenrod !important;
  }
}
 a.collection-thumb {
   img {
     // margin-top: -1px;
     // border-top: 3px solid white;
   }
 }

#properties_create_opt {
  .default-meta-config {
    margin-left:-45px;
  }
}
/*
 * Not used anymore by now
 * But leave it commented
 .selected-viewMode {
  @include mode_view_highlight();
}
*/

.viewMode-control {
  //padding-right: 0;
  float: left;
  margin: 0 15px 0 15px;
  width: 10% !important;

  img {
    width: 15px;
    &:hover {
      opacity: 0.7;
    }
  }
  .sec-color {
    margin-right: 5px;
  }

  div {
      // color: $brand-medium-blue;
      float: left;
      font-weight: bolder;
      padding-top: 3px;
  }
  ul {
    li {
      display: inline;
      // margin-left: 10px;
      a {
        color: black;
        float: left;
        width: 100%;

        span {
          color: black;
        }
      } // a
    }
  } // ul
} // .viewMode-control

.item-funcs {
    // float: right;
  padding: 0;

  li {
    float:right;
    margin-left: 10px !important;
    &:last-child {
      margin-right: 0 !important;
    }

    @include edit-item-button-colors();
    a {  font-size: 1.3em;  }
  }
} // .item-funcs

    /*
    ****************************************
    **************** CARD MODE *************
    ****************************************
    */
    .ui-autocomplete { z-index:1051; }
    #cards-viewMode, #cards_trash-viewMode {
      @include context-item-menu-style();

    .item-colecao {
      border: 3px solid $item-border;
      background: white;
      border-radius: 2px;
      margin: 1.5% 1.5% 0.2% 0;
      height: 190px;
      padding: 10px;

      .item-info {
        .colFoto {
          min-height: 160px;
          img {
            height: 160px;
          }
        }

        .item-meta {
          color: $item-light-gray;
          font-size: 12px;
        }

        .item-meta-box {
          //padding-left: 0;
          //margin-left: 0;
          position: relative;
          height: 160px;

          a {
            font-weight: bolder;
          }
          h4 {
            margin: 0 0 3px 0;
            height: 40px;
            overflow: hidden;
            a {
              color: black;
            }
          }
          .item-description {
            overflow: hidden;
            max-height: 35px;
            height: 35px;
          }
          .item-creation {
            text-align: right;
          }
          .author-created {
            height: 18px;            
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 11px;
            overflow: hidden;

            .author {
              padding-right: 0;
            }
          }
          .show-item-metadata {
            position: absolute;
            bottom: 0;
            width: 95%;
          }

        } // .item-meta-box
      }

      .editing-item {
        width: 100%;

        .rankings-container {
          float: left;
          .single-binaries {
            margin-top: -5px;
          }
        }

        .item-redesocial {
          position: relative;
          float: right;
          margin-top: -5px;
          margin-left: 5px !important;

          div {
            font-size: 1.2em;
            //text-indent: 5px;
        }

          @include edit-item-button-colors();

          span {
            font-size: 2.7em;
            color: #CCCCCC;
            line-height: 1.2;
            text-align: center;
            &:last-child{
              font-size: 2.3em;
            }
          }
        } // .item-redesocial

        .item-funcs {
          li {
            span {
              // color: $brand-light-blue;
            }
          }
        }

      } // .editing-item

      .close-metadata-box {
        position: absolute;
        top: 4%;
        right: 2%;
        font-size: 1.3em;
        span {
          color: #aaa;
        }
      }

      .class-meta-box {
        overflow: scroll;
        overflow-x: hidden;
        height: 50px;
        display: none;
      }

      .shown-classifications {
        position: absolute;
        padding: 15px;
        z-index: 4;
        background: white;
        width: 100%;
        height: 150px;
        border-radius: 4px;
        border: 1px solid #aaa;
        margin-top: -5px;
      }
    } // item colecao

    }
    /*
    ****************************************
    **************** LIST MODE *************
    ****************************************
    */
    #list-viewMode {
      margin-top: 15px;
      border: 3px solid $item-border;
      @include context-item-menu-style(2px, 0 10px 0 20px);

    .single-binaries {
      .score-counter {
        font-size: 11px;
        display: inline-block;
      }
    }

    .list-view-container {
      background: white;
      border-top: 2px solid $item-border;
      padding-top: 15px;
      padding-bottom: 8px;
      height: 60px;
      //overflow: hidden;

      &:first-child {
        border-top: 0 !important;
      }

      .item-display-title {
        margin: 0;
        font-size: 16px;
      }

      .item-description {
        font-size: 12px;
        overflow: hidden;
      }

      .author-created {
        font-size: 12px;
      }

    } // .list-view-container
      .item-thumb {
            a img {
                    max-width: 30px !important;
            }
      }
    } // list-viewMode

    /*
    ****************************************
    **************** GALLERY MODE *************
    ****************************************
    */
    #gallery-viewMode {
      margin-top: 15px;
      @include context-item-menu-style(-1px);

    .single-binaries {
      .score-counter {
        font-size: 11px;
        display: block;
      }
    }

    .gallery-view-container {
      text-align: center;
      margin-bottom: 15px;
      //overflow: hidden;
      padding-left: 5px;
      padding-right: 7px;

      .gallery-wrapper {
        background: white;
        border: 3px solid $item-border;
        padding-top: 15px;
        height: 300px;
      }

      .item-funcs li {
        margin-left: 5px !important;
        a {
          font-size: 16px;
        }
      }

      .single_stars {
        margin-top: 2.5px;
        .star-on-png, .star-half-png, .star-off-png {
          font-size: 17px;
        }
      }

      &.first-el {
          padding-left: 0;
          margin-left: 0 !important;
      }
      &.last-el {
          padding-right: 0;
      }

      img {
          display: inline-block !important;
      }

      .item-thumb {
        height: 200px;
        img {
          width: 200px !important;
        }
      }

      .title-container {
        margin-top: 10px;
        border-top: 2px solid $item-border;

        h5 {
          overflow: hidden;
          height: 15px;

          a {
            color: black;
            font-weight: bolder;
          }
        }
        .gallery-metadata {
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    } // .gallery-view-container

    } // gallery-viewMode

    /*
    ****************************************
    *********** SLIDESHOW MODE *************
    ****************************************
    */
    #collection-slideShow {
      //0 8px 0 20px

      .modal-dialog {
        width: 100%;
        height: 98%;

        .modal-header {
          border: none;
          padding-bottom: 0;

          button.close {
            opacity: .5 !important;
            margin-top: -15px !important;
            margin-right: -15px !important;
            &:hover {opacity: .7 !important; }
          }
          span {
            color: white;

            &.glyphicon-remove-sign {
              font-size: 30px;
            }
          }
        } // modal-header

        .modal-body {
          padding-top: 8px;
        }

        .modal-content {
          background: rgba(15, 10, 10, 0.95);
          height: auto;
          min-height: 100%;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          padding: 10px;

          .modal-title {
            color: white;
            font-weight: normal;
            padding-left: 13px;
            font-size: 16px;
            margin-top: -10px;
            margin-bottom: 20px;

            span {
              font-weight: bolder;
            }
          } // .modal-title

          ul.item-funcs {
            li {
              float: left !important;
              margin-left: 15px;
              display: inline;
            }
          }
        }
      }
    } // #collection-slideShow

#slideshow-viewMode {
  // margin-top: 15px;
  // padding-left: 50px;
  @include context-item-menu-style(0, 0 5px 0 20px);

    .slick-slide {
      outline: none;
      img {
        display: inline-block !important;
      }
    }

    .main-slide {
      button.slick-arrow {
        height: 105px; // 138px
        width: 58px; // 77px

        &.slick-prev, &.slick-next {
          z-index: 99;
          &:before {
            content: '';
          }
        }

        &.slick-prev {
          left: 0;
          background: url(../images/ss-backward.png) no-repeat;
        }

        &.slick-next {
          right: 0;
          background: url(../images/ss-forward.png) no-repeat;
        }
      } // slicks arrows
      .meta-configs {
        padding-right: 50px;
        padding-left: 50px;
      }
    } // .main-slide
    .collection-slides {
      .slick-slide  {
        width: 150px;
        img {
          cursor: pointer;
          max-width: 135px !important;
        }
      }
      .slick-current {
        img {
          border: 3px solid $brand-medium-blue;
        }
      }
    }
} // #slideshow-viewMode

#geolocation-viewMode {

  .geolocation-view-container {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid $item-border;
  }

    .editing-item {
        margin-top: 20px;
    }
    .show-item-metadata {
        display: none;
    }
    .not-configured, .error-map {
        border: 3px solid $item-border;
        background: white;
        text-align: center;
        margin-top: 10px;
    }
}

.table-view-container  {
  margin-top: 10px;
  margin-bottom: 20px;
  background: white;
  // padding-top: 15px;
  border: 3px solid $item-border;
  @include context-item-menu-style(-1px, 0 10px 0 10px);

  #table-view.table-bordered {
    border: none !important;
    border-collapse: collapse !important;
  }

  #table-view {
    overflow-x: scroll;
    overflow: auto;

    a.tview-title {
      cursor: pointer !important;
      white-space: pre-line;
    }
    thead {
      th {
        font-weight: bolder;
        color: $brand-medium-blue;
      }
    }
    tbody {
      ul {
        padding: 0;
        li {
          padding: 1px;
          display: inline-block;
        }
      } // ul
    }
  }
} // .table-view-container

.item-default.bulk-item-wrapper {
  padding: 20px;
  cursor: pointer;
  img {
    max-width: 50% !important;
  }
  input.input_title {
    height: 25px !important;
  }
}

a.events-link {
  display: inline-block !important;
  padding-right: 0 !important;
}

.notification_events, .notification_events_repository, .evts_cnt {
  background-color: $notification-red !important;
  color:white;
  font-size:13px;
  border-radius: 2px;
  // padding: 0 4px 2px 1px;
}

a.evt_container {
  float: left;
  width: 100%;

  .evt_col {
    float: left;
    width: 90%;
    padding-right: 30px;
  }
  .evts_cnt {
    float: right;
    padding: 4px !important;
  }
} // .evt_container

.collec_menu_opnr {
  a.dropdown-toggle {
    .notification_events {
      float: right;
      margin-left: -10px;
      margin-top: -5px;
      z-index: 3;
      position: relative;
    }
  }
}

ul.item-menu-container {
  z-index: 99;
  #item-menu-options {
    margin-top: -60px !important;
  }
  ul.new-item-menu {
    margin-right: 35px;
  }
}

.dynamic-item-comment {
    .commentlist {
        display: none;
    }
  #comments {

    h3.respond-title, .user-avatar, .submit-comment-container {
      display: none;
    }

  } // #comments
} // .dynamic-item-comment