#edit_mapping {
  margin-top: 20px;

  .panel {
    padding: 20px;
    #importForm {
      padding: 5px;
    }
  }
}

.config_default_style {
  @include configs_basic_structure();
}
#licenses_settings {
  hr {
    border-color: $brand-medium-blue;
    margin-bottom: 5px;
  }
}
// #list_social_network, #import_settings, #export_settings, #licenses_settings, #events_settings {
.config_default_style {
  &#list_social_network, &#export_settings, &#import_settings {
    table tbody th {
      border: 0;
    }
  }
  h3 {
    color: black;
    border-bottom: 1px solid $bs-button-gray-border;
    padding: 0 0 10px 12px;

    &.topo {
      border: none;
      color: $brand-medium-blue;
      padding: 0;
      margin-top: 0;
    }
  }

  #aba-facebook-mapping, #aba-instagram-mapping, #aba-vimeo-mapping {
    h3 {
      border-bottom: none;
    }
  }

  ul {
    li {
      a {
        color: black;
      }

      &.active {
        border: 1px solid $bs-button-gray-border;
        border-bottom: 2px solid white;
        margin-bottom: -2px;
        border-radius: 4px 4px 0 0;
        font-weight: bolder;

        a {
          color: black;
          border: none;
        }
      } // active

    }
  } // ul

  table {
    border: none;

    th, td {
      border: none;
      padding-left: 15px;

      &:last-child {
      }
    }
    th {

    }
    td {
      &:first-child {

      }
      padding-left: 7px;
    }
  } // table

  .social-networks-btn, .tainacan-blue-btn-bg {
    background: $brand-medium-blue;
    &:hover {
      opacity: 0.85;
    }
  }

  .highlight {
    border: 1px solid $bs-button-gray-border;
    padding: 0;
    margin-bottom: 20px;
    table {
      margin-bottom: 8px;
    }
  }
  .new-license {
    h3 {
      border: none;
      padding-left: 0;
      color: $brand-medium-blue;
    }
    #addLicenseBtn {
      color: white;
    }
  }

  #event_verified_table, #event_not_verified_table {
    #list_events_verified {
      padding-top: 12px;
    }
    thead{
      th {
        border-top: 1px solid $brand-medium-blue;
      }
    }
    tbody {
      td {
        border-right: 0;
        border-top: 1px solid $item-border;
      }
      tr.odd:first-child {
        td {
          border-top: 0;
        }

      }
    }
  }
  #licenses_display, #event_verified_table, #event_not_verified_table {
    thead {
      th {
        border-right: 0;
        color: $brand-medium-blue;
        border-bottom: 1px solid $brand-medium-blue;
      }
    }
  }
  #list_licenses_content {
    tr {
      font-weight: bolder;
      border-bottom: 1px solid $bs-button-gray-border;
      td {
        border-right: 0 !important;
      }
    }
    @include action_buttons_style();
  }
} // main config containers ID's

#import_settings {
  #list_oaipmh_dc, #list_csv_dc {
    @include table_common_spacing();
  }
} // #import_settings

#export_settings {
  #list_export_oaipmh_dc {
    @include table_common_spacing();
  }

  #table_export_oaipmh_dc {
    border-top: 0;
    @include action_buttons_style();
  }

  #maping_container_export {
    .panel {
      border: 0;
      border-radius: 0;

      label {
        border-bottom: 1px solid $bs-button-gray-border;
        padding-bottom: 5px;
        padding-top: 8px;
      }
    }
  } // #maping_container_export

} // export page

#submit_oaipmh, #submit_csv {
  float: right;
}

#form_import_social {
  h3 {
    &.topo {
      border-bottom: 1px solid $brand-medium-blue;
      color: $brand-medium-blue;
      padding: 0 0 10px 0;
      margin: 0;
    }
  }
  .meta-title {
    border-bottom: 1px solid $bs-button-gray-border;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .meta-value {
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 0;
  }

} // #form_import_social

.import-btn-container {
  margin-top: 20px;

  #submit_button_import {
    float: right;
  }
}

#form_export_csv, #form_export_zip {
  .export-container {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 15px;

    select {
      width: 80%;
    }

    #socialdb_delimiter_csv {
      width: 65%;
      display: inline-block;
      margin-left: 5px;
    }
  } // .export-container
} // #form_export_csv

.events_menu {
  .tab-content {
    padding-top: 15px;
    .datatable-result-sets {
      border: 1px solid $item-border;
      margin-left: 0 !important;
      border-radius: 2px;
    }
    .dataTables_paginate {
      ul.pagination {
        li a {
          color: black !important;
        }
      }
    }
  }
} // .events-menu

/*
#api-keys, #licenses_settings {
  ul {
    li {
      a {
        color: black;
      }
      &.active {
        font-weight: bolder;
      }
    }
  }
}
*/
.collection-templates {
  padding: 10px 0 10px 20px;
  border-top: 2px solid $item-border;
  border-bottom: 2px solid $item-border;
  height: 185px;
  margin-left: -20px;
  margin-right: -20px;
}
.tools-internal-hr {
  border: 1px solid $item-border;
  margin-left: -15px;
}

#taxonomy_create_zone {
    min-height: 350px; 
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

#config-cover {
  height: 200px;
  text-align: center;
  padding-top: 5%;
  h1, h3 {
    color: white;
    margin: 0;
    text-shadow: -2px 1px 4px #27272d;
  }
}