.hide-el {
  display: none !important;
}

.multiple-edit-select {
  border: 2px solid $brand-light-blue;
}

body {
  //background: $collections-bg-color;
}

#collection_post {
  margin-top: 0;
}

#configuration {

  .config-temp-box {
    /*
    background: #f1f2f2;
    padding-left: 20px;
    margin-left: -30px;
    width: 104%;
    */
    
    .tainacan-config-container {

      hr.tainacanRow {
        margin-left: -40px;
        margin-right: -40px;
        border: 2px solid $item-border;
      }

      border: 4px solid $item-border;
      background: white;
      padding: 10px 40px 30px 40px;
      margin: 0 0 40px 0;

      a {
        font-weight: bolder;
        color: $brand-medium-blue;
      }

    }
  }

}

textarea {
  resize: vertical;
}

.multiple-items-accordion {
  width: 95%;

  h2.ui-accordion-header {
    @include accordion-style();
    margin: 10px 10px 0 0 !important;
  }
}

  .ui-accordion-content {
    // padding: 10px !important;
    border: none;
    margin-bottom: 10px;
}

.row {
  margin-right: 0;
}

#main_part {
  .container-fluid {
    .row {
      margin-right: -15px;
    }
  }

} // #main_part

#myModalRegister {
  overflow: scroll;
}

/*
* PAGE 404 >>
*/
body.error404 {
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: -10px;
  }

  .page-not-found {
    margin: 0 auto;
    text-align: center;
    padding: 6% 0 40px 0;

    h5 {
      a {
        color: white;
      }
    }
  }

  section.logo-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
/*
* << PAGE 404
*/

#collection_cover_image, #collection_crop_thumb {
  width:100%;
  height: 190px;
  position: relative;
  border: 1px solid $item-border;
}
#collection_crop_thumb {
  width: 150px;
  height: 150px;
}
.hideCropBox {
  visibility: hidden;
  height: 5px;
}
.cropControls {
  left: -1px !important;
  background-color: rgba(0,0,0,0.10);
}

.collection_header_img {
  max-width: 100%;
  background-color: #6a6a6a;
  padding:0 20px;
  background-size: cover;
}

.single-item-title {
  padding-left: 0px;
}

.no-padding {
  padding: 0px;
}

#div_central {
  .content-wrapper div {
    display: block;
    padding: 20px;
    background: white;

    p {
      padding: 0px;
    }
  }

  #filters_collection {
    color: white;
    font-size: 12px;

    .search-resultset {
      margin-top: 10px;
      border-radius: 4px 0 0 4px;
      a {
        padding: 5px 7px 5px 7px;
        display: inline-block;
      }
    }
  }

  /*------------------Busca------------------*/

  .search-colecao {

    input, button {
      color: #fff;
      box-shadow: none;
    }

    .input-group {
      z-index: 1;

      #search_objects {
        font-size: 13px;
        z-index: 1;
        height: 35px;
      }

      #search_main {
        height: 35px;
      }
    }

    input {
      border-color: #aaa;
      color: black;
      border-right: none;

      &::-webkit-input-placeholder {
        color: #AAA !important;
      }
    }

    button {
      color: #AAAAAA;
      border-color: #AAAAAA;
    }
  } // .search-colecao

  .img-edit{
    color: rgba(255,255,255,0.5);
  }

  .clear-top-search {
    button {
      display: none;
      background: $brand-light-blue;
      color: white;
      border: none;
      width: 98%;
      text-align: left;
      margin: 10px 0 0 2%;
      padding: 5px 0 2px 7px;
    }
  }

} // #div_central

.item-attachments {
  h4.text-center {
    border-bottom: 1px dashed #CCCCCC;
    padding-bottom: 8px;
    width: 80%;
    margin: 10px auto;
  }
}

div.image-legend {
  padding: 20px 10px 0 10px;
}

#carousel-attachment {
  .slideshow-item {
    display: block;

    img {
      text-align: center;
      margin: 0 auto;
      max-height:500px;
      max-width:500px;
    }

    .image-caption {
      padding: 10px;
      text-align: justify;
    }

  }
} // carousel attachment

.titulo-colecao h3 a {
  &:hover {
    color: white;
  }
}

.edit-object-box-format {
  margin: 10px auto 20px auto;
  text-align: center;
}

.white-background {
  background-color: white !important;
}

hr.single-item-divider {
  color: $brand-medium-blue;
  margin: 3px 0 10px 0;
}

#submit_multiple_items {
  #container_images {
    .item-default {
      height: 290px;
      padding-left: 5px !important;
      padding-right: 5px !important;

      img {
        max-width: 150px !important;
      }

      textarea.item-desc {
            width: 78% !important;
            margin-top: 10px !important;
        }
    }
  }
} // #submit_multiple_items

/* cabecalhos */
.headers-mapping{
  border-style: solid;
  border-color: #595959;
  border-width: 1px;
}
/* Para os tipos tainacan - li */
.tainacan-properties-li{
  color: white;
  cursor: move;
  height: 80px;
  padding-left: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  background-color: #3366FF;
  border-style: solid;
  border-color: #A6A6A6;
  border-width: 1px;
}
/* Para os tipos de criacao - li */
.tainacan-create-properties-li{
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
  border-style: solid;
  border-color: #A6A6A6;
  border-width: 1px;
}
/* Para os tipos genericos - li */
.generic-properties-li{
  cursor: move;
  color: white;
  height: 80px;
  padding-left: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  background-color: #008000;
  border-style: solid;
  border-color: #A6A6A6;
  border-width: 1px;
}
/* a borda para os ul */
.border-table-mapping{
  border-style: solid;
  border-color: #A6A6A6;
  border-width: 1px;
  border-top-style: none;
}
/* style dos inputs bootstrap */
.style-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*
 * from multiple-items/create.php >>
 */
#selectable .ui-selecting
{
  /* border: 3px solid rgb(122,167,207) ;*/
}
#container_images,
#container_pdfs,
#container_videos,
#container_audios,
#container_others {
  background-color: #c1d0dd;
  padding-right: 0px;
  padding-left: 15px;
  margin-top: 15px;
  padding-top: 5px;
}
/* */
.item-default{
  background: white;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: 3px solid #E8E8E8;
  margin-right: 10px;
  width:19%;
}
.selected-border{
  border: 3px solid rgb(122,167,207);
}
.input_title{
  text-align: center;
  width: 150px;
  padding:5px;
  border: none;
  background-color: rgb(209,211,212);
  font: 13px Arial;
  border-radius: 5px;
}
.menu-left-size {
  width: 23%;
  padding-bottom: 15px;
}
/*
 * << from multiple-items/create.php
 */

#form_properties_items.menu_left_files {
  display:none;
  background: white;
  border: 3px solid #E8E8E8;
  font: 11px Arial;
  max-height: 655px;
  overflow-y: scroll;
  min-height: 449px;
}

#no_properties_items.menu-left-size {
  height: 655px;
  background: white;
  border: 3px solid #E8E8E8;
  font: 11px Arial;
}

#selectingAttachment {
  height: 655px;
  display:none;
  background: white;
  border: 3px solid #E8E8E8;
  font: 11px Arial;
}

#container-menu-left {
  background: white;
  border: 3px solid #E8E8E8;
  font: 13px Arial;
  min-height: 500px;
  padding-right: 15px;
  ul {
    list-style: circle;
  }
}

#dropzone_multiple_items {
  margin-bottom: 15px;
  min-height: 350px;
  padding-top: 0;
}

form.exif_extraction {
  margin-right: 10px;
}
/*
#respond{
  margin:0 0 30px 0;
  clear:both;
  form {
    label {
      float:left;
      clear:left;
      width:60px;
      text-align:right;
      margin-right:10px;
    }
    input {
      float:left;
      width:250px;
      margin-bottom:10px;

      &.commentsubmit {
        float:left;
        margin-left:70px;
      }
    }
    textarea {
      float:left;
      width:400px;
      height:100px;
      margin-bottom:10px;
    }
  } // form
} // #respond
*/
/*
#comments {
  width: 630px;
  float: left;
  border-top:1px solid #bebebe;

  h3{
    font-size:14px;
    margin:20px 0;
  }
} // #comments

ol.commentlist {
  list-style:none;
  ul{
    margin: 0;
    li {
      margin:20px 20px 20px 40px;
    }
  }
  li {
    margin-bottom:30px;
  }
} */

#items_not_found {
  margin-top: 20px;
  text-align: center;
}

.quadrante{
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  border: 3px solid #E8E8E8;
  overflow:auto;
}
/*
.padding-left-space{
  padding-left: 15px;
}
.center_pagination {
  width: 100%;
  margin: 20px auto 10px auto;
  background: white;
  border: 3px solid #E8E8E8;
  padding: 5px 0 5px 0;
  color: #929497;
} */

form#advanced_search_submit {
  margin-left: 15px;
  margin-right: 15px;
  min-height: 500px;

  #container_filtros {
    margin-left: 5px;
    margin-right: 5px;

    ol.breadcrumb {
      margin-top: -15px;
      padding-left: 0;
      background: #f2f2f2;
    }
  } // #container_filtros
  #resultados_advanced_search {
    min-height: 500px;
    margin-left: 5px;
    margin-right: 5px;
  }
} // #advanced_search_submit

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    // opacity: 0.3;
    // vertical-align: top;
    width: 0;
}

/* max-width  */
@media all and (max-width: 560px) {

  .logo-container {
    .repository {
      display: none;
    }
  } // .logo-container
}

#submit_form {
  .add-item-container {
    background: white;
    border: 3px solid $item-border;
    margin-left: 1%;
    width: 74%
  }
}

.modal_change_owner {
  .modal-body {
    height: 170px;

    #autocomplete_users {
      margin: 10px 0 10px 0;
    }
  }
}

.new_own_cont {
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  display: none;
}

#collection_empty {
  .jumbotron {
    h2 {
      text-align: center;
    }
  }
}

a.validade-meta-field {
  margin-right: 15px;
}

a.validade-error {
  color:red;
}

a.validate-ok {
  color:green;
}

.common-crop {
  margin-bottom: 20px;
  background: #f5f5f5;
  position: relative;
}

#logo_crop {
  width: 130px;
  height: 100px;
}

#cover_crop {
  width: 100%;
  height: 150px;
}

#thumb-idea-form, #cover-idea-form {
  margin-top: 10px;
  label {
    display: block;
  }
  img {
    display: block;
    margin-bottom: 5px;
  }
  .remove-repository-logo, .remove-repository-cover {
    display: inline-block;
    padding: 5px 10px 2px 10px;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
    background: #f5f5f5;
    border-radius: 2px;

    input {
      float: left;
      margin-right: 5px;
    }

    label {
      display: inline-block;
    }
  }
  .crop-wrapper {
    margin-top: 10px;
  }
}

#newCollection {
  #createCollection {
    .modal-body {
      padding: 0 15px 0 15px;
    }
  }
}

#modalImportMain {
  .modal-content {
    text-align: center;
  }
}

#container-fluid-configuration {
  background-color: #f1f2f2
}

.tainacan-page-area {
  background: white;
}

.single-post-wrapper {
  border-radius: 0;
  padding: 10px;
  margin-bottom: 20px;
   p {
     color: black;
   }
}

.tainacan-content-area {
  .tainacan-article-wrapper {
    margin-bottom: 10px;

    .post-thumbnail {
      float: left;
      margin-right: 15px;
    }

    .post-thumbnail, .entry-header {
      display: inline-block;
    }
    .entry-header h3 {
      margin-top: 0;
    }
  }
}

section.admin-configs {
  padding-top: 20px;
  padding-botom: 20px;
  background: $collections-bg-color;
  width: 100%;
  float: left;
  ul.dynatree-container {
    border: 1px solid $collections-bg-color;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white !important;
  background-color: #232323 !important;
}

#properties_tabs ul.metadata-container li{
  border: 1px solid #e3e3e3 !important;
}
.gallery li {
  padding: 0.4em;
  margin: 0;
}
.list-compounded{
  margin-left: 15px;
  margin-top: 15px;
}
.list-compounded li{
  cursor: pointer;
}

#loader_metadados_page {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 11px;
  line-height: normal;
  font-family: Arial;
}

.graph-iframe {
  border:3px solid #E8E8E8;
  background:white;
  overflow-x:hidden;
  overflow-y:scroll;
}