@import "vars";

body.home {
 background: black;

  .repository-sharings {
    display: none !important;
  }

  .user-actions.collapse {
    border-bottom: 0 !important;
  }

  .config_default_style{
    margin-top: 20px !important;
  }

  .metadata-actions {
    padding-top: 20px !important;
  }

  .menu-ibram {
    padding-left: 25px !important;
    .dropdown-menu > .active > a {
      background: none !important;
    }
  }

  #login-out {
    margin-top: 40px;
  }

  .ibram-home-container {
    background: $collections-bg-color;
    text-align: center;


    .index-menu{
      border: 4px solid #E8E8E8;
      background: white;
      padding: 10px 40px 30px 40px;
      margin: 0 0 40px 0;
      font-size: 13pt;
      text-align: left;
      color:black;

      p {
        color:black;
      }
    }

    .col-md-3 {
      padding: 20px;

      .ibram-box {
        border: 3px solid $item-border;
        background: white;
        padding: 5px 20px 20px 20px;
        text-align: left;

        h4.title {
          color: $brand-medium-blue;
          border-bottom: 1px solid $brand-medium-blue;
          padding-bottom: 10px;
          margin-bottom: 25px;
          a {
            color: $brand-medium-blue;
          }
        }

        p {
          color: black;
          background: lightcoral;
          border-radius: 4px;
          padding: 10px;
          //text-align: left;

          &:nth-child(2) {
            background: palegoldenrod;
          }
          &:nth-child(3) {
            background: lightskyblue;
          }
          &:nth-child(4) {
            background: lightgreen;
          }
        }
      }
    }
  }

  .custom-header {
    .menu-transp-cover {
      height: 50px;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
    }
  }

} // body.home

#loader_collections {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.navbar-collapse, .search-tainacan-colletion {
  border: none !important;
}

.home {
  @include header_style();

  header {
    background-size: cover;
  }

  a.adv_search {
    span:hover {
      text-decoration: underline;
    }
  }

  .ui-autocomplete {
    background: black !important;
    width: auto !important;
    position: absolute !important;
    filter: alpha(opacity=80);
    opacity: 0.80;
    padding: 20px !important;

    li {
      filter: alpha(opacity=100);
      opacity: 1;

      a {
        color: $brand-light-blue !important;
        &:hover {
          color: white !important;
          cursor: pointer;
        }
      }
    }
  }

  .sweet-overlay, .sweet-alert {
    display: none;
  }

  .container-fluid {
    a.logo-tainacan {
      //margin: 0 !important;
      margin-top: -5px !important;
    }
  }

  #searchBoxIndex {
    margin-top: 30px;
  }

  .carousel-home, .carousel-home-ajax {

    .item-box-container {
      display: inline-block;
    }
    
    .panel {
      width: 190px;
      height: 215px;
      background: #f5f5f5;

      .panel-body {
        // padding: 10px !important;
        height: 178px;
        background: white;

        a {
          img {
            max-height: 100%;
            margin: 0 auto;
          }
        }

        span.collection-name {
          font-size: 15px;
        }

      } // .panel-body

      .panel-footer {
        height: 23px;
        overflow: hidden;
      }

    } // .panel

    button {
      height: 216px;
      width: 41px;

      &.slick-prev, &.slick-next {
        top: 4%;
        z-index: 2;

        &:before {
          content: '';
        }
      }

      &.slick-prev {
        left: 0;
        border-radius: 4px 0 0 10px;
        background: url(../images/seta-left.png) no-repeat;
      }

      &.slick-next {
        right: 0;
        border-radius: 0 4px 10px 0;
        background: url(../images/seta.png) no-repeat;
      }

    }
  } // caroulsel home

  .tainacan-nextArrow {
    height: 216px;
    width: 40px;
    background: url(../images/seta.png) no-repeat;
  }
} //.home

.tainacan-thumbless {
  background: $thumbless-bg;
  color: white;
  height: 100%;
  line-height: 2.1;
  font-size: 80px;
  text-align: center;
}

.container-fluid {
  .search-tainacan-colletion {
    margin: 1% 0 0 2% !important;
  }
}

#display_view_main_page {
  background: black;
  padding: 30px 25px 0 23px !important;
  margin-top: 20px;

  .type-container {
    padding-left: 13px;
    padding-right: 0;
  }

  .featured {
    padding: 0;
    &:first-child {
      @include set-home-title-color($populars);
    }
    &:nth-child(2) {
      @include set-home-title-color($recents);
    }
  } // featured home items

  .image {
    @include set-home-title-color($images);
  }

  .video {
    @include set-home-title-color($videos);
  }

  .pdf {
    @include set-home-title-color($pdfs);
  }

  .audio {
    @include set-home-title-color($audios);
  }

  .text {
    @include set-home-title-color($texts);
  }

  .home-title {
    text-align: center;
    padding: 4px 3px;
  }

  .home-type-title {
    color: white;
    text-align: left;
    padding-left: 8px;
    margin: 0 0 20px 0;
  }
} // home main container