.customize-layout {

}
#submit_configuration {
	margin-right:30px;
	margin-left: 10px;
}
#collection-steps {
	background: white;
	border-bottom: 2px solid $item-border;

	ul {
		li {
			padding-right: 0;
			padding-left: 5px;
			padding-top: 12px;
			a {
				padding-top: 20px;
				padding-right: 10px;

				h4 {
					display: inline-block;
					color: black;
				}
				&:hover {
					cursor: pointer;
				}
			}
			&.current {
				a {
					border-top: 4px solid $default-golden;
					h4 {
						font-weight: bolder;
					}
				}
			}
		} // li
	} // ul

	button#button_save_and_next {
		float: right; margin: 15px 15px 0 0
	}
} // #layout-config