.customize-layout {
	.holder {
		padding-left: 0;
		background: white;
	}
	#layout-accordion {
		h3.title {
			border-left: 4px solid $brand-light-blue;
			border-radius: 0 2px 2px 0;
		}
		.l-a-container {
			padding-left: 0;
			padding-right: 0;


          .color-container {
            position: relative;
            margin-left: 5px;
            margin-bottom: 8px;
            width: 83px;
            display: inline-block;
            padding: 2px;
            border: 2px solid white;

            .remove-cS {
              display: none;
            }

            .color-input {
              border:none;
              color: transparent;
              width: 35px;
              height: 25px;
            }

            &:hover, &.selected {
              border-color: $brand-medium-blue;
            }

            &:hover > .remove-cS {
              display: block;
              font-size: 10px;
              font-weight: bolder;
              float: right;
              top: -1px;
              position: absolute;
              right: 0;
              a {
                background: $brand-medium-blue;
                padding: 2px;
                color: white;
              }
            }

          } // .color-container

		  .custom_color_schemes {

			label {
			  border-top: 1px solid $item-border;
			  padding: 8px 0 0 8px;
			  width: 100%;
			}
			button {
			  margin-left: 10px;
			}
		  }
		} // .l-a-container
		.brown {

		}

      #collection-colorset {
        margin-top: 10px;
        margin-left: 10px;

        label {
          display: block;
          color: #0C698B;
        }
        .input {
          margin: 5px 0 5px 0
        }
      }
    } // #layout-accordion
}
#submit_configuration {
	margin-right: 30px;
	margin-left: 10px;
}
#collection-steps {
	background: white;
	border-bottom: 2px solid $item-border;

	ul {
		li {
			padding-right: 0;
			padding-left: 5px;
			padding-top: 12px;
			a {
				padding-top: 20px;
				padding-right: 10px;

				h4 {
					display: inline-block;
					color: black;
				}
				&:hover {
					cursor: pointer;
				}
			}
			&.current {
				a {
					border-top: 4px solid $default-golden;
					h4 {
						font-weight: bolder;
					}
				}
			}
		} // li
	} // ul

	button#button_save_and_next {
		float: right; margin: 15px 15px 0 0
	}
} // #layout-config