@media all and (max-width: 767px) {
  ul li.click_new_collection {
    display: none;
  }
  form.search-tainacan-colletion {
    .form-group {
      display: initial !important;
      input {
        width: 90% !important;
        display: inline-block;
      }
    }
  }

}

@media all and (max-width: 450px) {
  .home {
   .project-info {
     h1 {
       font-size: 300% !important;
     }
     h3 {
       font-size: 100% !important;
     }
   }
  } // .home
}

@media all and (min-width: 300px) and (max-width: 479px) {
 .home {
   .item-individual-box.slick-slide {
     .panel {
       margin: 0 auto !important;
       width: auto !important;
     }
   }
   .slick-prev, .slick-next {
     top: 10px !important;

   }
   .slick-next {
     right: -7px !important;
   }
 }
}

@media all and (min-width: 765px) and (max-width: 920px) {
  .search-tainacan-collection {
    input {
      font-size: 12px;
    }
  }

  .user-actions {
    li {
      a {
        padding: 17px 8px 15px 8px;
        font-size: 13px;
      }
    }
  }
}

@media all and (max-width: 767px) {

  .logo-container {
    width: auto !important;
    margin-left: -5px !important;
  }

  .header-navbar .search-tainacan-collection {
    width: auto;
    float: left;
    margin-left: 0 !important;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;

    .search-home {
      width: 100%;
    }
  }
}

@media all and (max-width: 450px) {
  .header-navbar .search-tainacan-collection {
    float: none;
    margin: 10px 0 10px 2% !important;
    width: 100% !important;
  }

  .navbar-toggle {
    margin-right: 5px !important;
  }
}

@media all and (max-width: 991px) {
  #main_part .container-fluid .row {
    // margin-right: 0 !important;
  }

  #submit_form .add-item-container {
    width: 98% !important;
  }

  #div_left, .menu_left {
    padding: 1% 2% 0 1% !important;
    min-height: none;
    border-bottom: 3px solid $item-border !important;
    //height: 1300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  #div_central {
    .item-colecao {
      .col-md-4 {
        float: left !important;
      }
    }
  }
}

@media all and (max-width: 1009px) {
  #main_part .container-fluid .row {
    margin-right: 0 !important;
  }
  .item-colecao {
    margin-right: 0!important;
  }

  #properties_create_opt {
    .default-meta-config {
      margin-left: 0 !important;
    }
  }
}

@media all and (max-width: 1177px) {
  #list-viewMode {
    .list-view-container {
      height: auto !important;
    }
  }
}

// responsivo da home da coleção
@media all and (max-width: 1009px) {
  #div_left {
    .expand-all {
      margin-bottom: 2% !important;
    }
  }

  #container_three_columns #div_central #menu_object .search-top-container .box-left {
    width: auto !important;
    margin-bottom: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1211px) {

  .header-colecao {
    label {
      &.order-by-label {
        width: 100% !important;
      }
    } // label

    .viewMode-control {
      label.sec-color {
        font-size: 90%;
        width: 10%;
      }
      #collectionViewMode {
        float: right !important;
        padding: 3px 7px !important;
      }
    } // .viewMode-control
    .trash-div {
      width: 12%;
      button {
        padding: 3px 6.5px !important;
        margin-left: 0 !important;
        &.export-btn {
          span {
            font-size: 10px !important;
          }
          margin-right: 10px;
        }
      }
    }
  } // .header-colecao
} // responsiveness for home collection actions and filters

@media all and (min-width: 992px) and (max-width: 1016px) {
  .trash-div {
    button {
      &.export-btn {
        margin-right: 5px !important;
      }
    }
  }
}

@media all and (min-width: 650px) and (max-width: 991px) {
  .header-colecao {
    margin-top: 10px;

    .row > div {
      float: left;
      &.col-md-5 {
        width: 40%;
      }
    }

    #collectionViewMode {
      float: left !important;
      padding: 3px 7px !important;
    }

    label {
      &.order-by-label {
        width: 60% !important;
      }
      &.sec-color {
        float: left;
        font-size: 85%;
        width: 40%;
      }
    }
    .trash-div {
      //width: 12% !important;
      button {
        padding: 3px 6px !important;
        margin-left: 0 !important;
        &.export-btn {
          span {
            font-size: 10px !important;
          }
          margin-right: 10px;
        }
      }
    }
  } // header-colecao
}

@media all and (max-width: 650px){
  .header-colecao {
    margin-top: 20px !important;

    .row > div {
      float: left;
      //border: 1px solid;

      &.tainacan-add-item {
        width: 20% !important;
      }

      &.col-md-5 {
        width: 75%;
      }

      &.col-md-2 {
        margin-top: 15px;
        margin-left: 0 !important;
        width: 25% !important;

        .selectable-items .selectors {
          width: 70% !important;
        }
      }
    } // .row

    .trash-div {
      width: 35% !important;
      float: left !important;
      margin-left: 10%;
      margin-top: 15px;
    }
  } // header-colecao
}