/*Classes*/
.add_padding
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.users-button
{
    color: white;
    margin-top: 26%;
    margin-left: 10%;
}
.users-button:hover{
    cursor: pointer;
}

/*Seletores*/
#formmarc
{
    padding: 13px;
}

@media print {
    body * {
        visibility: hidden;
    }
    #barcode, #barcode *{
        visibility: visible;
        position: fixed;
        left: 100px;
        top: 150px;
    }
}

