/*
 * @author Weryques
*/

.footer-widget-1{
    margin-right: 30px;
}
.footer-widget-2{
    margin-right: 30px;
}

.widgetcolumn12{
    min-height: 247px;
    border-right-style: solid;
    border-right-width: 2pt;
    border-right-color: #a7a9ac;
    margin-right: 25px;
}

.widget-title{
    color: white;
    font-size: 16px;
}

.wordpress-powered{
    float: right;
    margin-right: 40px;
    font-size: 8pt;
    color: white;
    padding-top: 5px;
    margin-top: 5px;
}

footer a{
    color: white;
}

footer li{
    color: white;
}

.smedialink{
    font-size: 16px;
}

.backicon{
    background-color: white;
    border-radius: 17px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
}

#footer{
    /*min-height:200px*/;
    background-color: #939598;
    width: 100%;
    padding-top: 26px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 26px;
    margin-top: 10px
}
.logo-footer{
    text-align: left;
}

.logofooter{
    margin-left: 25px;
    margin-top: 5px;
}

.flogo-bar{
    background-color: #231F20;
    height: 37px;
}

.contactContent{
    font-size: 14px;
    color: white;
}

.siteMapContent{
    font-size: 14px;
    color: white;
    width: 100%;
}