ul{
    list-style: none;
}
.center{
  margin: 0 auto;
}
.white, .white a{
  color: white;
}
.container-fluid .navbar-brand {
    padding: 0;
    margin: 0 !important;
}
.navbar{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0.2+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */


  border-radius: 0;
  border: none;
}
.navbar-nav button, .header-colecao button, .header-colecao select{
  background: none;
  color: #fff;
}
.navbar-nav button{
  margin: 8px 5px;
}
header{
  background-image: url(../images/bg-home1.jpg);
  background-size: 100% auto;
}
.main_part{
  padding: 20% 0 5% 0;
  overflow: hidden;
}
#main_part.home{
  padding: 20% 0 5% 0;
  overflow: hidden;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ddd;
}
#search_collections{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  float:left;
  width: 90%
}
.search-home{
    height: 50px;
}
.search_icon{
  float: left;
  margin-left: -40px;
  height: 50px;
  width: 40px;
  background: none;
  border: none;
}
.adv_search{
  text-align: right;
  padding-right: 30px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.adv_search:hover{
  color: #ddd;
}
center.container{
  padding-top: 20px;
}
center.container h4{
  color: #88A6CC;
  text-indent: 10px;
  line-height: 1.2em;
  border-left: 2px solid #88A6CC;
}
.blocos{
  padding: 0;
}
.blocos h5{
  background-color: #88A6CC;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}
.titulo-blocos{
  text-align: left;
}
.am-wrapper{
	float:left;
	position:relative;
	overflow:hidden;
}
.am-wrapper img{
	position:absolute;
	outline:none;
}
.am-container{
  float:left;
  margin: 1px;
  overflow: hidden;
}
.bloco-item-sm{
  height: 59px;
  width: 59px;
}
.bloco-item-md{
  height: 123px;
    width: 123px;
}
.bloco-item-lg{
  height: 248px;
  width: 248px;
}

.bloco-item-xlg{
  height: 248px;
  width: 496px;
}
#footer{
  min-height: 200px;
  background-color: #ccc;
  padding: 20px 0;
}
.logo-footer{
  text-align: right;
}

.collection_header{
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-image: url(../images/capa-colecao.png);
}
.titulo-colecao{
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.titulo-faceta{
  color: #88A6CC;
  text-indent: 10px;
  border-left: solid 2px #88A6CC;
}
span.dynatree-icon{
  display: none;
}
.search-colecao input, .search-colecao button{
  background-color: #AAAAAA;
  color: #fff;

}
.search-colecao input::-webkit-input-placeholder
{
  color:    #ffffff;
}
.search-colecao button{
  border-color: #AAAAAA;
}
.search-colecao{
  background-color: #ddd;
  padding-top: 20px;
}
.header-colecao{
  background-color: #AAAAAA;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#container_socialdb{
  border: solid 1px #AAAAAA;
  padding: 0 5px 5px 0;
}
#list{
  padding: 0;
  margin:0;
}
#list li{

  padding: 0;
}
#list li img{
  max-width: 150px;
}
.colFoto{
  padding: 0;
}
.item-redesocial{
  padding:10px 10px;
  background-color: #ddd;
}
.item-redesocial a img{
  margin:5px 0;
}
.item-funcs li{
  float:right;
  margin: 0 5px !important;
}
.item-colecao{
  margin: 5px 0 0 5px;
    border: solid 1px #AAAAAA;
}
.item-redesocial-more{
  background-color:#AAAAAA;
  text-align:center;
  cursor: pointer;
}
.item-redesocial-more span{
  padding-top:8px;
  color: white;
}
.fab{
  width:32px;
  height:32px;
  border-radius:16px;
  overflow:hidden;
  background-color:#ddd;
  float:right;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.fab:hover{
  background-color: #aaa;
}