/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/09/2016, 12:35:12
    Author     : eduardo
*/
.breadcrumbs-debate{
    background-color: #e4e4e4 !important;
}



.chatTitleContainer {
    text-align: left; 
    font-size: 14pt;
    vertical-align: middle;
    display: table-cell;
    height: 50px;
    width: 100%;
    font-family: Expert-Sans-Regular, verdana, Arial, helvetica, sans-serif;
    color: #b5b5b5;

}

.chatContainer {
    margin-top: 20px;
    height: auto;
    width: 100%;
    background-color: #e4e4e4;
    padding: 20px;

}

.chatHistoryContainer {
    background-color: white;
    color: black;
    margin-top: -15px;
    padding-right: 40px;
    padding-left: 40px;
    height: auto;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #c3c3c3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}

.chatHistoryContainer b{
    color: black;
}
.chatMessageControls {

    margin-top: 6px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #c3c3c3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}

#undoSendButton {

    margin-left: 10px;
    border-radius: 3px;

}

#clearMessageButton {

    border-radius: 0;
    border-left: none;
    border-right: none;

}

#sendMessageButton {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.fa {

    margin-right: 6px;

}



.formComments {

    list-style-type: none;
    padding-bottom: 60px;
    padding-left: 0px;

}

.formComments li {

    margin-bottom: 10px;

}

.commentstep-1 {

    margin-left: 0px;

}

.commentstep-2 {

    margin-left: 48px;

}

.commentstep-3 {

    margin-left: 96px;

}
.commentstep-4 {

    margin-left: 144px;

}
.commentstep-5 {

    margin-left: 196px;

}
.commentstep-6 {

    margin-left: 254px;

}

.form-comments-table{
    width: 100%;
}

.form-comments-table tr:nth-child(1) td:nth-child(1) {

    font-size: 9pt;
    color: #000;
    white-space: nowrap;
    vertical-align: top;

}

.comment-user {
    text-align: center;
    margin-left: 10px;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-comments-table tr td {

    white-space: nowrap;

}
.form-comments-table tr:nth-child(1) td:nth-child(1) {

    padding-top: 8px;

}
.form-comments-table tr:nth-child(1) td:nth-child(2) {

    padding-top: 8px;
    font-size: 9pt;
    font-weight: bold;
    vertical-align: top;

}

.form-comments-table tr:nth-child(1) td:nth-child(3) {

    vertical-align: top;

}

.form-comments-table tr:nth-child(1) td:nth-child(4) {

    width: 100%;

}

.form-comments-table tr:nth-child(1) td:nth-child(5) {


}

.comment-step-controls {



}

.comment-avatar {

    margin-left: 15px;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    background-color: #c9c9c9;

}

.comment-avatar img {

    width: 36px;
    height: 36px;

}


.comment-marker {

    margin-right: 10px;
    color: #aeaeae;

}


.comment-step1:hover {


}

.comment {

    max-width: 100%;
    background-color: #fff;
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
    color: #000;
    border-color: #ddd;
    cursor: pointer;
    //border: 1px solid #e6e6e6;
    //border-bottom: 3px solid #dddddd;
    //border-radius: 3px;  
    white-space: normal;

}

.comment-actions {

    border-top: 1px solid #dddddd;
    padding-top: 8px;
    margin-top: 8px;
    display: none;

}

.argument-operation {
    margin-top: 15px;;
}
.argument-operation .score{
    font-size: 15px;
}
.argument-operation .argument-operation-links{
    font-weight: bold;
}
.argument-operation .argument-operation-links .link-center{
   margin-left: 20%;
}

